<div class="container-fluid">
  <div class="row">
      <div class="col-12 text-center mt-3 mb-3">
          <h2>Welcome to Device Management System</h2>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-center">
      <div class="col-md-3 mt-3 mb-1">
          <div class="card bg-primary" (click)="onAdd()">
              <span class="fa fa-plus fa-5x mt-5"></span>
              <div class="font-weight-bolder text-white-50 fa-2x mt-4 mb-3">Add Device</div>
          </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3 mt-3 mb-1">
          <div class="card bg-success" (click)="onView()">
              <span class="fa fa-eye fa-5x mt-5"></span>
              <div class="font-weight-bolder text-white-50 fa-2x mt-4 mb-3">View Devices</div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
  <div class="row text-center">
      <div class="col-md-3">

      </div>
      <div class="col-md-3 mt-3 mb-1">
          <div class="card bg-warning" (click)="onUpdate()">
              <span class="fa fa-edit fa-5x mt-5"></span>
              <div class="font-weight-bolder text-white-50 fa-2x mt-4 mb-3">Modify Device</div>
          </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3 mt-3 mb-1">
          <div class="card bg-danger" (click)="onDelete()">
              <span class="fa fa-minus fa-5x mt-5"></span>
              <div class="font-weight-bolder text-white-50 fa-2x mt-4 mb-3">Delete Device</div>
          </div>
      </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->